# Data Extract source variables
EXTRACT_SOURCE_URL=https://randomuser.me/api/
EXTRACT_SOURCE_FORMAT=csv
EXTRACT_SOURCE_RESULTS=1000
EXTRACT_SOURCE_SEED=foobar
EXTRACT_SOURCE_NAT='["gb","us"]'
EXTRACT_SOURCE_INC='["gender", "name", "location", "email", "dob", "registered"]'

# dbt profile directory and project file directory location variables
DBT_PROFILES_DIR=dbt
DBT_PROJECT_DIR=dbt
