# Local environment and variables
.venv
.env
.DS_Store

# Test and linter
.ruff_cache
.coverage
.pytest_cache
.mypy_cache
.vscode

# Python cache files
__pycache__

# dbt files
dbt/seeds/*.csv
dbt/seeds/backup/*.bkp
dbt/logs/
dbt/dbt_packages
dbt/.user.yml
dbt/target

# Database
dbt/data/randomuser.db

# invoke results --csv output
/mart_*.csv

# Transient lists and plan files
docs
